{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
<title>회차/공지 쓰기 : 네이버웹소설</title>

<card>
    <h5 class="my-3 border-bottom pb-3">회차/공지 쓰기</h5>
    <h4 class="my-3 border-bottom pb-3">{}</h4> <!--novel id 모색-->
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 -->
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
        {% endfor %}

        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" value="{{ form.subject.data or '' }}">
        </div>
        <div class="form-group">
            <label for="subject">내용</label>
            <textarea class="form-control" name="content" id="content" rows="5">{{ form.content.data or '' }}</textarea>

        </div>


        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</card>

</div>
{% endblock %}